@page "/"

<h1>Hello, Blazor 🙂.</h1>
<hr class="my-3"/>
<CascadingValue Name="EditAbility" Value="EditAbility">
    <CascadingValue Name="ItemsPerPage" Value="ItemsPerPage">
        <GenericList ItemsList="ItemList" GridColumnsCount="@(User.Headers?.Count ?? 5)" ActionFunc="Action">
            <TableHeader>
                <HeaderRender Headers="ItemList?.Header" />
            </TableHeader>
            <ItemRender>
                <UserRender Item="context" />
            </ItemRender>
        </GenericList>
    </CascadingValue>
</CascadingValue>

    @code{
        GridList<User> ItemList;
        bool EditAbility = true;
        int ItemsPerPage = 3;

        protected override async Task OnInitializedAsync()
        {
            ItemList = await Controller.GetUsers(1, ItemsPerPage, User.DefaultSortedBy);
        }

        async Task Action(int PageNumber, int SortBy, string FilterString = "")
        {
            ItemList = null;
            StateHasChanged();
            ItemList = await Controller.GetUsers(PageNumber, ItemsPerPage, SortBy, FilterString);
            StateHasChanged();
        }
    }
