@page "/"
@inject SettingsService AppSettings

<Notification @ref="NotificationPanal" Timeout="5000" />
<Loading @ref="LoadingPanal" />
<h1>Hello, Blazor 🙂.</h1>
<hr class="my-3" />
<CascadingValue Name="EditAbility" Value="AppSettings.IsAdmin">
    <CascadingValue Name="LoadingPanal" Value="LoadingPanal">
        <GenericList @ref="Grid" ItemsList="UsersList" GridColumnsCount="@(User.Headers?.Count ?? 5)" ItemsPerPage="AppSettings.ItemsPerPage"
                     ActionFunc="Action" AddItem="AddUser" EditItem="EditUser" DeleteItem="DeleteUser" ExportItems="ExportItems"
                     DeleteMultiItems="DeleteSelectedUsers" GridType="GridType.Edit" DefaultSortBy="User.DefaultSortedBy">
            <TableHeader>
                <HeaderRender Headers="UsersList?.Header" />
            </TableHeader>
            <ItemRender>
                <UserRender Item="context" />
            </ItemRender>
        </GenericList>
    </CascadingValue>
</CascadingValue>

@code{
    GridList<User> UsersList;

    Loading LoadingPanal;
    Notification NotificationPanal;

    //protected override async Task OnInitializedAsync()
    //{
    //    UsersList = await Controller.GetUsers(1, AppSettings.ItemsPerPage, User.DefaultSortedBy);
    //}

    async Task Action(int PageNumber, int SortBy, string FilterString = "")
    {
        UsersList = null;
        StateHasChanged();
        UsersList = await Controller.GetUsers(PageNumber, AppSettings.ItemsPerPage, SortBy, FilterString);
        StateHasChanged();
    }

    async Task AddUser(User newUser)
    {
        LoadingPanal.Show();
        string result = await Controller.AddUser(newUser);
        LoadingPanal.Hide();
        if (!string.IsNullOrEmpty(result))
        {
            NotificationPanal.Show(NotificationType.Error, result, true, $"Can't add '{newUser.Username}'!");
        }
        else
        {
            UsersList.Add(newUser);
            UsersList.TotalCount++;
            StateHasChanged();
        }
    }

    async Task EditUser(string id, User newUser)
    {
        if (int.TryParse(id, out int userId))
        {
            LoadingPanal.Show();
            string result = await Controller.EditUser(userId, newUser);
            LoadingPanal.Hide();
            if (!string.IsNullOrEmpty(result))
            {
                NotificationPanal.Show(NotificationType.Error, result, true, $"Can't Edit '{newUser.Username}'!");
            }
            else
            {
                int oldUserIndex = UsersList.FindIndex((x) => x.Id == userId);
                if (oldUserIndex > -1)
                {
                    UsersList[oldUserIndex] = newUser;
                    StateHasChanged();
                }
            }
        }
        else
        {
            NotificationPanal.Show(NotificationType.Error, "Invalid Id format!", true);
        }
    }

    async Task DeleteUser(User User)
    {
        LoadingPanal.Show();
        string result = await Controller.DeleteUser(User.Id);
        LoadingPanal.Hide();
        if (!string.IsNullOrEmpty(result))
        {
            NotificationPanal.Show(NotificationType.Error, result, true, $"Can't delete '{User.Username}'!");
        }
        else
        {
            UsersList.Remove(User);
            UsersList.TotalCount--;
            if (UsersList.Count == 0 && UsersList.PagesCount > 1)
            {
                int pageNumber = UsersList.CurrentPage == UsersList.PagesCount ? UsersList.PagesCount - 1 : UsersList.CurrentPage;
                int sortBy = UsersList.SortedBy;
                string filterstring = UsersList.FilterString;
                UsersList = null;
                StateHasChanged();
                UsersList = await Controller.GetUsers(pageNumber, AppSettings.ItemsPerPage, sortBy, filterstring);
            }
        }
        StateHasChanged();
    }

    async Task DeleteSelectedUsers(List<User> Users)
    {
        LoadingPanal.Show();
        await Task.Delay(1000);
        string result = await Controller.DeleteMultiUsers(Users.Select((x) => x.Id).ToList());
        LoadingPanal.Hide();
        if (!string.IsNullOrEmpty(result))
        {
            NotificationPanal.Show(NotificationType.Error, result, true, $"Can't delete '{Users.Count}' Users!");
        }
        else
        {
            for (int i = 0; i < Users.Count; i++)
            {
                UsersList.Remove(Users[i]);
                UsersList.TotalCount--;
            }
            if (UsersList.Count == 0 && UsersList.PagesCount > 1)
            {
                int pageNumber = UsersList.CurrentPage == UsersList.PagesCount ? UsersList.PagesCount - 1 : UsersList.CurrentPage;
                int sortBy = UsersList.SortedBy;
                string filterstring = UsersList.FilterString;
                UsersList = null;
                StateHasChanged();
                UsersList = await Controller.GetUsers(pageNumber, AppSettings.ItemsPerPage, sortBy, filterstring);
            }
            StateHasChanged();
        }
    }

    async Task ExportItems(string type)
    {
        LoadingPanal.Show();
        Console.WriteLine($"Exporting as {type}");
        await Controller.ExportUsers(type);
        LoadingPanal.Hide();
    }
    GenericList<User> Grid;

    //List<int> SelectAllUsers(bool IsSelected)
    //{
    //    List<int> result = new List<int>();
    //    for (int i = 0; i < UsersList.Count; i++)
    //    {
    //        //Grid.SelectChange(UsersList[i].Id, IsSelected);
    //    }
    //    return result;
    //}
}
