<Modal ModalClasses="modal-dialog-centered" ShowAnimation="ModalShowAnimation.BounceIn" @ref="ModalRef">
    <h5>@ModalContent</h5>
</Modal>

@code {

    Modal ModalRef;
    string ModalContent { get; set; }

    public async Task<DialogResult> ShowModal(string ModalTitle,string ModalContent, ModalConfirmButton Mode)
    {
        this.ModalContent = ModalContent;
        return await ModalRef.ShowModal(ModalTitle, Mode);
    }
}
