<div class="position-relative overflow-hidden table-borderless">
    <table class="table loading mt-4">
        <thead>
            <tr>
                @for (int i = 0; i < ColumnsCount; i++)
                {
                    <th><div /></th>
                }
                @if (Type == LoadingContentType.Grid)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 4; i++)
            {
                <tr>
                    @for (int j = 0; j < ColumnsCount; j++)
                    {
                        <td><div /></td>
                    }
                    @if (Type == LoadingContentType.Grid)
                    {
                        <td><div class="actions" /></td>
                    }
                </tr>
            }

        </tbody>
    </table>
    <div class="position-absolute slider slide-animation"></div>
</div>
@code {
    [Parameter] public LoadingContentType Type { get; set; }
    [Parameter] public int ColumnsCount { get; set; }
}
