
<div class="loading-overlay justify-content-center @(isShown ? "" : "d-none")">
    <div style="border: solid black 1px;" class="m-auto bg-dark text-light px-5 py-3">
        <div class="spinner-border spinner-border-xl mr-3 align-middle" style="width: 2rem; height: 2rem;">
            <span class="sr-only">Working on it...</span>
        </div>
        <span class="align-middle h4">Working on it...</span>
    </div>
</div>

@code {

    // Is Loading panal is visible or not.
    bool isShown = false;

    // How many Loading panal showed
    int showCount = 0;

    /// <summary>
    /// Show loading panal.
    /// </summary>
    public void Show()
    {
        // Show loading panal.
        isShown = true;

        // Increase showed times.
        showCount++;

        // Force layout to refreshing component.
        StateHasChanged();
    }

    /// <summary>
    /// Hide loading panal.
    /// </summary>
    public void Hide()
    {
        // Decrese showed times.
        showCount--;

        // Showed count must not be less than zero.
        showCount = showCount < 1 ? 0 : showCount;

        // If Showed count reach zero, hide loading panel.
        if (showCount == 0)
        {
            isShown = false;
            StateHasChanged();
        }
    }
}
