
<div class="loading-overlay justify-content-center @(isVisible ? "" : "d-none")">
    <div style="border: solid black 1px;" class="m-auto bg-dark text-light px-5 py-3">
        <div class="spinner-border spinner-border-xl mr-3 align-middle" style="width: 2rem; height: 2rem;">
            <span class="sr-only">Working on it...</span>
        </div>
        <span class="align-middle h4">Working on it...</span>
    </div>
</div>

@code {
    bool isVisible = false;
    int showCount = 0;

    public void Show()
    {
        isVisible = true;
        showCount++;
        StateHasChanged();
    }

    public void Hide()
    {
        showCount--;
        showCount = showCount < 1 ? 0 : showCount;
        if (showCount == 0)
        {
            isVisible = false;
            StateHasChanged();
        }
    }
}
