@inherits LayoutComponentBase

    <div class="spalsh-screen out">
        <img src="images/splash-image.webp" alt="splash image" />
    </div>

    <div class="main-container">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div style="z-index: 1;" class="top-row px-4">
                <h3 class="mb-0">Hello, Blazor 🙂.</h3>
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4 mb-5">
                @Body
            </div>
            <div class="page-footer px-4">
                © 2020 KOD by Mohammad™.
            </div>
        </div>
    </div>
